.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: black;
}

.list-item.visited {
  background-color: royalblue;
  color: white;
}
